@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  // TODO fleiri grunn stillingar
}
main {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

img.image{
  max-height:100%;
  max-width:100%;
}
div.index__text{
  color:blue;
  align-self: center;
  
}
div.grid__index{
  display:flex;
  flex-direction:column;
  align-content:center;
  border: 8px solid;
  padding-right: 20px;
  padding-left: 20px;
  height:647px;
  max-width:1200px;
  margin: 0 auto;
}
div.index__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -10px;
  margin-right: -10px;
  border: 8px solid green;
  height:50%;
  
}

div.index__kassi {
  display:flex;
  padding-right: 10px;
  padding-left: 10px;
  border:8px solid blue;
  width:50%;
  align-content: center;
}




// TODO sækja allar sass skrár
@import "scss/button";
